<form >
    <div>
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title text-success"><h2><b>New Appointment</b></h2></div>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtName" class="col-sm-4">Patient Name</label>
                        <div class="col-sm-8">
                            <input [(ngModel)]="newAppointment.patientName" type="text" id="txtName" placeholder="Patient Name" name="Name" 
                            class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtAdd" class="col-sm-4">phone Number</label>
                        <div class="col-sm-8">
                            <input  [(ngModel)]="newAppointment.phoneNumber" type="text" id="txtAdd"  placeholder="phone Number" name="phone Number"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtnum" class="col-sm-4">Address</label>
                        <div class="col-sm-8">
                            <input  [(ngModel)]="newAppointment.address" type="text" id="txtnum" placeholder="Address" name="Address"
                                class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtdes" class="col-sm-4">Time</label>
                        <div class="col-sm-8" >
                            <select (change)="onTimeSelect($event)"
                                class="form-control" >
                                <option value="">Select Time</option>
                              <option value="{{time.id}}" *ngFor="let time of TimeList">
                                {{time.name}}
                              </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                
                <div class="modal-body" >
                    <div class="form-group row">
                        <label for="txtdes" class="col-sm-4">Department</label>
                        <div class="col-sm-8" >
                               <select (change)="onSelectDep($event)" class="form-control" >
                                <option value="">Select Department</option>
                              <option  value="{{Dep.id}}" *ngFor="let Dep of DepartmentList">
                                {{Dep.department1}}
                              </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtdes" class="col-sm-4">Doctor</label>
                        <div class="col-sm-8" >
                            <select (change)="onSelectDoc($event)"
                                class="form-control" >
                                <option value="">Select Doctor</option>
                              <option value="{{Doc.id}}" *ngFor="let Doc of DoctorsByDep">
                                {{Doc.docname}}
                              </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label>Appointment Date</label>
                        <div class="col-sm-8">
                            <input  [(ngModel)]="newAppointment.appointmentDate" type="datetime-local" name="appointmentDate" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" (click)="addAppointment()" class="btn btn-success" data-dismiss="modal">SAVE</button>
                    <button routerLink="" type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                </div>

            </div>
        </div>
    </div>
</form>
