<h2 class="text-danger text-center m-2 p-2"><b>MY APPOINTMENTS</b></h2>
<div class="offset-1 row">
<div class="m-2 p-2" *ngFor="let item of MyAppointmentList" >
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header text-primary">{{item.appointmentDate|date}} : {{item.time}}</div>
        <div class="card-body text-dark">
          <h4 class="card-title"><b>Patient Name :-</b> {{item.patientName}}</h4>
          <h4 class="card-title"><b>Address :- </b>{{item.address}}</h4>
          <h4 class="card-title"><b>Department :- </b>{{item.department}}</h4>
          <h4 class="card-title"><b>Doctor :- </b>{{item.doctor}}</h4>
        </div>
      </div>    
</div>
</div>

