<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li  class="nav-item">
          <a class="nav-link" routerLink="/user" >User List</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" routerLink="appointment" >Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="myappointment" >My Appointments</a>
      </li>
        
     
    </ul>
     <div *ngIf="isAuthorized()==true">
     <a class="text-danger">{{this.UserName}}</a> 
     <button (click)="Logout()" class="btn btn-outline-success my-2 my-sm-0 m-1 p-1" type="submit">Logout</button>
     </div>  
  
    <div *ngIf="isAuthorized()==false">
    <button routerLink="login" class="btn btn-outline-success my-2 my-sm-0 m-1 p-1" type="submit">LogIn</button>
    </div>    
    
  </div>
</nav>

<router-outlet></router-outlet>
