<h1 class="text-center text-success p-2 m-2"><b>PATIENT LIST</b></h1>
<div class="p-1 m-1" *ngFor="let pactient of PatientList">
    <div class="card p-1 m-1">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

